---
import ogs from "open-graph-scraper";
import Image from "astro/components/Image.astro";

interface Props {
	slug: string;
	caption?: string;
	title?: string;
	image?: string;
	description?: string;
}

const { slug, caption, title, image, description } = Astro.props;

// ogsで情報を取得する関数
async function getOpenGraphData(url: string) {
	const option = { url };
	try {
		const { result } = await ogs(option);
		return result;
	} catch (error) {
		console.log("Error fetching Open Graph Data:", error);
		return {};
	}
}

const websiteData = await getOpenGraphData(slug);
const ogImage = image || websiteData?.ogImage?.[0]?.url;
const ogTitle = title || websiteData?.ogTitle || "タイトルの取得に失敗しました";
const ogDescription = description || websiteData?.ogDescription || "";
---

<style>
	.root-container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		width: 100%;
	}

	.description-container {
		width: 100%;
	}

	.image-container {
		height: auto;
		width: 100%;
	}
</style>

<a href={slug} , target="_blank">
	{caption && <p>{caption}</p>}
	<div class="root-container">
		<div class="description-container">
			<h3>{ogTitle}</h3>
			<p>{ogDescription}</p>
		</div>
		<Image
			src={ogImage}
			alt=""
			width="600"
			height="300"
			class="image-container"
		/>
	</div></a
>
