---
import ogs from "open-graph-scraper";
import { Image } from "astro:assets";
interface Props {
	slug: string;
	caption?: string;
	title?: string;
	image?: string;
	description?: string;
}

const { slug, caption, title, image, description } = Astro.props;

// ogsで情報を取得する関数
async function getOpenGraphData(url: string) {
	const option = { url };
	try {
		const { result } = await ogs(option);
		return result;
	} catch (error) {
		console.log("Error fetching Open Graph Data:", error);
		return {};
	}
}

const websiteData = await getOpenGraphData(slug);
const ogImage = image || websiteData?.ogImage?.[0]?.url;
const ogTitle = title || websiteData?.ogTitle || "タイトルの取得に失敗しました";
const ogDescription = description || websiteData?.ogDescription || "";
---

<style>
	.a {
	}

	.root-container {
		border: solid #87cefa 1px;
		border-radius: 10px;
		padding: 1rem;
	}

	.description-container {
		margin-top: 1rem;
		box-sizing: border-box;
	}

	.root-container:hover {
		background-color: #eee;
	}

	.title {
	}

	.site-description {
		overflow: hidden;
		text-overflow: ellipsis;
		color: #777;
		max-height: 6rem;
	}

	.image-container {
		width: 100%;
		height: auto;
		border-radius: 10px;
	}
</style>

<a href={slug} , target="_blank" class="a">
	{caption && <p>{caption}</p>}
	<div class="root-container">
		<Image src={ogImage} alt="" inferSize class="image-container" />
		<div class="description-container">
			<div class="title">{ogTitle}</div>
			<p class="site-description">{ogDescription}</p>
		</div>
	</div></a
>
