---
import ogs from "open-graph-scraper";
import Image from "astro/components/Image.astro";

interface Props {
	slug: string;
	caption?: string;
	title?: string;
	image?: string;
	description?: string;
}

const { slug, caption, title, image, description } = Astro.props;

// ogsで情報を取得する関数
async function getOpenGraphData(url: string) {
	const option = { url };
	try {
		const { result } = await ogs(option);
		return result;
	} catch (error) {
		console.log("Error fetching Open Graph Data:", error);
		return {};
	}
}

const websiteData = await getOpenGraphData(slug);
const ogImage = image || websiteData?.ogImage?.[0]?.url;
const ogTitle = title || websiteData?.ogTitle || "タイトルの取得に失敗しました";
const ogDescription = description || websiteData?.ogDescription || "";
---

<style>
	.root-container {
		display: grid;
		grid-template-columns: 1fr auto;
		width: 100%;
		height: 200px;
		border: solid 1px;
		border-radius: 10px;
		border-color: #87ceeb;
	}

	.description-container {
		padding: 1rem;
		align-self: center;
	}

	.site-description {
		color: #444;
	}

	.image-container {
		height: inherit;
		width: auto;
		border-radius: 0 10px 10px 0;
		justify-self: end;
	}
</style>

<a href={slug} , target="_blank">
	{caption && <p>{caption}</p>}
	<div class="root-container">
		<div class="description-container">
			<h3>{ogTitle}</h3>
			<p class="site-description">{ogDescription}</p>
		</div>
		<Image src={ogImage} alt="" inferSize class="image-container" />
	</div></a
>
