---
import noImage from "@images/no_image.webp";
import Image from "astro/components/Image.astro";
import Card from "@components/Card.astro";

interface Props {
	postId: string;
	image?: string | null;
	title: string;
	pubDate: Date;
}

const { postId, image, title, pubDate } = Astro.props;

const displayImage: any = image || noImage;
---

<style>
	.root-container {
		width: 100%;
	}

	.hero-image-container {
		width: 100%;
		height: auto;
	}

	.post-title {
		display: flex;
		justify-content: center;
		margin: 1rem 0;
		font-size: 2rem;
	}

	.post-date {
		display: flex;
		justify-content: center;
		margin: 1rem 0;
	}
</style>
<Card>
	<a href={`/blog/${postId}`}>
		<Image src={displayImage} inferSize alt="" class="hero-image-container" />
		<div class="post-title">{title}</div>
		<div class="post-date">{pubDate.getFullYear()}年{pubDate.getDay()}月</div>
	</a>
</Card>
